<div class="bg-white rounded p-4 shadow " style="width: 400px;">
  <h4 class="text-center">Esquci minha senha</h4>
  <form nz-form nzLayout="vertical">
    <nz-form-item>
      <nz-form-label nzFor="email">E-mail:</nz-form-label>
      <nz-form-control>
        <input nz-input type="email" [(ngModel)]="email" name="email"  />
      </nz-form-control>
    </nz-form-item>
 
  </form>

  <button nz-button nzType="primary" class="mb-3" nzBlock (click)="submit()" [disabled]="!email()" [nzLoading]="LoadingService.loading()">Enviar email de verificação</button>
  <!-- <button nz-button nzType="text" nzBlock (click)="voltar()" class="mt-1">Voltar</button> -->
   <a routerLink="/auth/login" nzBlock class="login-form-forgot mt-3" class="mt-3">
Voltar</a>
</div>