<nz-layout>
  <nz-header class="shadow">
    <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="toggleSider()" />
  </nz-header>
  <nz-layout>
    <nz-sider [nzWidth]="200" [nzTrigger]="null" class="sider-overlay shadow" [ngClass]="{ 'collapsed': isCollapsed }">
      <div class="logo"></div>
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-submenu nzTitle="User" nzIcon="user">
          <ul>
            <li nz-menu-item>Tom</li>
            <li nz-menu-item>Bill</li>
            <li nz-menu-item>Alex</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Team" nzIcon="team">
          <ul>
            <li nz-menu-item>Team 1</li>
            <li nz-menu-item>Team 2</li>
          </ul>
        </li>
        <li nz-menu-item>
          <nz-icon nzType="file" />
          <span>File</span>
        </li>
      </ul>
    </nz-sider>
    <nz-content>
      <div class="inner-content py-4 container">
        <router-outlet />
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>