<nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" style="max-width: 300px;">
  <input type="text" nz-input placeholder="Informe algum item..." [(ngModel)]="termoPesquisa"
    (keyup.enter)="pesquisarItem()" />
</nz-input-group>

<ng-template #suffixIconButton>
  <button nz-button nzType="primary" nzSize="default" nzSearch (click)="pesquisarItem()" [nzLoading]="loading">
    Pesquisar
  </button>
</ng-template>

<div class="mt-4">
  <nz-spin [nzSpinning]="loading">
    <nz-table #borderedTable nzBordered [nzData]="searchItems" [nzShowPagination]="false" class="shadow">
      <thead>
        <tr>
          <th class="text-center">Data</th>
          <th class="text-center">Nome</th>
          <th class="text-center">Preço</th>
          <th class="text-center">Lugar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of searchItems" class="text-center">
          <td class="text-center">{{ item.date | date: 'dd/MM/yyyy' }}</td>
          <td class="text-center">{{ item.name }}</td>
          <td class="text-center">
            {{ item.price | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
          </td>
          <td class="text-center">{{ item.place }}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-spin>
</div>