<div class="h-100 bg-light d-flex align-items-center justify-content-center">
  <div class="bg-white rounded p-4 shadow" style="width: 400px;">
    <h4 class="text-center">Redefinir Senha</h4>
    <form nz-form nzLayout="vertical" [formGroup]="formularioReset">
      <!-- Campo de Senha -->
      <nz-form-item>
        <nz-form-label>Senha:</nz-form-label>
        <nz-form-control [nzErrorTip]="'Senha deve ter no mínimo 6 caracteres'" 
                        [nzValidateStatus]="formularioReset.get('password')!">
          <nz-input-group [nzSuffix]="passwordSuffix">
            <input nz-input [type]="passwordVisible ? 'text' : 'password'" 
                  formControlName="password"
                  placeholder="Digite sua senha" />
          </nz-input-group>
          <ng-template #passwordSuffix>
            <nz-icon class="ant-input-password-icon" 
                    [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                    (click)="passwordVisible = !passwordVisible"></nz-icon>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <!-- Campo de Confirmação de Senha -->
      <nz-form-item>
        <nz-form-label>Confirmar Senha:</nz-form-label>
        <nz-form-control [nzErrorTip]="confirmPasswordErrorTpl"
                        [nzValidateStatus]="formularioReset.get('confirmPassword')!">
          <nz-input-group [nzSuffix]="confirmPasswordSuffix">
            <input nz-input [type]="confirmPasswordVisible ? 'text' : 'password'" 
                  formControlName="confirmPassword"
                  placeholder="Confirme sua senha" />
          </nz-input-group>
          <ng-template #confirmPasswordSuffix>
            <nz-icon class="ant-input-password-icon" 
                    [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
                    (click)="confirmPasswordVisible = !confirmPasswordVisible"></nz-icon>
          </ng-template>
          
          <ng-template #confirmPasswordErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Confirmação de senha é obrigatória.
            </ng-container>
            <ng-container *ngIf="formularioReset.hasError('passwordMismatch')">
              As senhas não coincidem.
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </form>

    <button 
      nz-button 
      nzType="primary" 
      nzBlock 
      (click)="reset()" 
      [nzLoading]="loadingService.loading()"
      [disabled]="formularioReset.invalid"
    >
      Alterar senha
    </button>
    <a routerLink="/dashboard" class="login-form-forgot mt-5">
      Voltar
    </a>
  </div>
</div>