<div class="container p-3 rounded shadow bg-white mt-3" id="form-add">
    <!-- Data e Mercado -->
    <h3 class="text-center mb-4"><b>Adicionar Itens</b></h3>

    <div nz-row nzGutter="16" nzJustify="start" nzAlign="middle">
        <div nz-col nzSpan="12">
            <nz-input-group nzAddOnBefore="Data">
                <nz-date-picker [(ngModel)]="dataCompra" nzDisabled nzFormat="dd/MM/yyyy"
                    class="w-100"></nz-date-picker>
            </nz-input-group>
        </div>
        <div nz-col nzSpan="12">
            <nz-input-group nzAddOnBefore="Local">
                <input type="text" nz-input [(ngModel)]="mercado" name="mercadoNome" [disabled]="true" class="w-100" />
            </nz-input-group>
        </div>
    </div>

    <!-- Item e Carrinho -->
    <div nz-row nzGutter="16" nzJustify="start" nzAlign="middle">
        <div nz-col nzSpan="12">
            <nz-input-group nzAddOnBefore="Categoria">
                <nz-select [(ngModel)]="categoriaSelecionada" nzPlaceHolder="Selecione uma categoria" class="w-100"
                    (ngModelChange)="limparInputs()">
                    <nz-option *ngFor="let category of listCategory" [nzValue]="category.id" [nzLabel]="category.nome">
                    </nz-option>
                </nz-select>
            </nz-input-group>
        </div>
        <div nz-col nzSpan="12">
            <nz-input-group nzAddOnBefore="Item">
                <input type="text" nz-input [(ngModel)]="item" class="w-100" />
            </nz-input-group>

        </div>
    </div>

    <!-- Valor Unidade, Quantidade e Total -->
    <div nz-row nzGutter="16" nzJustify="start" nzAlign="middle">
        <div nz-col nzSpan="8">
            <nz-input-group nzAddOnBefore="Valor">
                <input nz-input [(ngModel)]="valorUnidade" (ngModelChange)="onValorChange($event)" class="w-100" />
            </nz-input-group>
        </div>
        <div nz-col nzSpan="8">
            <nz-input-group nzAddOnBefore="Quantidade">
                <nz-input-number [(ngModel)]="itemQtd" nzMin="1" nzStep="0.1" (ngModelChange)="calcularValorTotal()"
                    class="w-100" />
            </nz-input-group>
        </div>
        <div nz-col nzSpan="8">
            <nz-input-group nzAddOnBefore="Valor Total">
                <input nz-input type="text"
                    [value]="'R$ ' + valorTotal.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 })"
                    disabled class="w-100" />
            </nz-input-group>
        </div>
    </div>

    <!-- Botão -->
    <div nzJustify="center" nzAlign="middle" id="buttons-edit" class="">

        <div class=" d-flex justify-content-center align-items-center" class="buttons-edit-div">
            <button nz-button nzType="default" nzDanger (click)="showDeleteConfirm()"
                class="btn-table btn-edit-div-btn">
                <nz-icon nzType="delete" nzTheme="outline" class="me-1" />
                Cancelar Compra
            </button>

        </div>
        <div class=" d-flex justify-content-center align-items-center" class="buttons-edit-div">
            <button nz-button nzType="default" class=" btn-table btn-default btn-edit-div-btn"
                (click)="showModalCarrinho()">
                <nz-icon nzType="shopping-cart" nzTheme="outline" />
                Editar Categoria</button>
        </div>
        <div class=" d-flex justify-content-center align-items-center" class="buttons-edit-div">
            <button nz-button nzType="default" class=" btn-table btn-default btn-edit-div-btn"
                (click)="showModalMercado()">
                <nz-icon nzType="shop" nzTheme="outline" />
                Alterar Local</button>
        </div>
        <div class=" d-flex justify-content-center align-items-center" class="buttons-edit-div">
            <button nz-button nzType="primary" class=" btn-table btn-green btn-edit-div-btn" (click)="createItem()">
                <nz-icon nzType="plus" nzTheme="outline" />Adicionar Item</button>
        </div>
    </div>
</div>

<div *ngIf="mostrarTabela" id="table" class="container shadow rounded bg-white mt-3 p-3" id="table-content">

    <div class="card-container">
        <div class="cards-wrapper">
            <!-- Card Total -->
            <div class=" total-card shadow">
                <div class="card-content">
                    <div class="card-label">Total</div>
                    <div class="card-value">{{ totalGeral | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</div>
                </div>
                <nz-icon nzType="shop" nzTheme="outline" class="card-icon" />
            </div>

            <!-- Cards de Carrinhos -->
            <div *ngFor="let carrinho of totaisPorCarrinho" class="shadow carrinho-card">
                <div class="card-content">
                    <div class="card-label">{{carrinho.nome}}</div>
                    <div class="card-value">{{ carrinho.total | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</div>
                </div>
                <nz-icon nzType="shopping-cart" nzTheme="outline" class="card-icon" />
            </div>
        </div>

        <!-- Botão Finalizar Compra -->
        <div class="finalizar-button">
            <button nz-button nzType="primary" nzBlock="" nzSize="large" (click)="finalizarCompra()"
                [nzLoading]="LoadingService.loading()" class="shadow btn-table btn-green">
                <nz-icon nzType="file-done" nzTheme="outline" class="me-1" />
                Finalizar Compra
            </button>
        </div>
    </div>
    <div class="mt-4">
        <div class="mb-3">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" style="max-width: 300px;">
                <input type="text" nz-input placeholder="Pesquisar item..." [(ngModel)]="termoPesquisa"
                    (keyup.enter)="pesquisarItem()" />
            </nz-input-group>

            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSize="default" nzSearch (click)="pesquisarItem()"
                    [nzLoading]="loadingSearchButton">
                    Pesquisar
                    <nz-icon nzType="search" nzTheme="outline" />
                </button>
            </ng-template>
        </div>
        <nz-table #borderedTable nzBordered nzSize="small" [nzData]="tableItems" [nzPageSizeOptions]="pageSizeOptions"
            [nzShowSizeChanger]="true" [nzShowTotal]="rangeTemplate" [nzPaginationPosition]="'bottom'"
            [nzScroll]="{ x: '1100px', y: '500px' }" (nzPageSizeChange)="onPageSizeChange($event)">

            <thead>
                <tr>
                    <th nzLeft class="col-name" [nzSortOrder]="listOfColumns[0].sortOrder"
                        [nzSortFn]="listOfColumns[0].sortFn" [nzSortDirections]="listOfColumns[0].sortDirections"
                        class="text-center">
                        {{ listOfColumns[0].name }}
                    </th>

                    <th class="col-quantity" [nzSortOrder]="listOfColumns[1].sortOrder"
                        [nzSortFn]="listOfColumns[1].sortFn" [nzSortDirections]="listOfColumns[1].sortDirections"
                        class="text-center">
                        {{ listOfColumns[1].name }}
                    </th>

                    <th class="col-value" [nzSortOrder]="listOfColumns[2].sortOrder"
                        [nzSortFn]="listOfColumns[2].sortFn" [nzSortDirections]="listOfColumns[2].sortDirections"
                        class="text-center">
                        {{ listOfColumns[2].name }}
                    </th>

                    <th class="col-total" [nzSortOrder]="listOfColumns[3].sortOrder"
                        [nzSortFn]="listOfColumns[3].sortFn" [nzSortDirections]="listOfColumns[3].sortDirections"
                        class="text-center">
                        {{ listOfColumns[3].name }}
                    </th>

                    <th class="col-cart" [nzSortOrder]="listOfColumns[4].sortOrder" [nzSortFn]="listOfColumns[4].sortFn"
                        [nzSortDirections]="listOfColumns[4].sortDirections"
                        [nzFilterMultiple]="listOfColumns[4].filterConfig?.filterMultiple ?? false"
                        [nzFilters]="listOfColumns[4].filterConfig?.listOfFilter ?? []"
                        [nzFilterFn]="listOfColumns[4].filterConfig?.filterFn ?? null" class="text-center">
                        {{ listOfColumns[4].name }}
                    </th>

                    <th class="col-actions" [nzSortOrder]="listOfColumns[5].sortOrder"
                        [nzSortFn]="listOfColumns[5].sortFn" [nzSortDirections]="listOfColumns[5].sortDirections"
                        class="text-center">
                        {{ listOfColumns[5].name }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of borderedTable.data; trackBy: trackById" class="text-center">
                    <td nzLeft class="col-name">
                        <ng-container *ngIf="!editCache[data.id]?.edit; else editName">
                            {{ data.name }}
                        </ng-container>
                        <ng-template #editName>
                            <input type="text" nz-input [(ngModel)]="editCache[data.id].data.name" />
                        </ng-template>
                    </td>
                    <td class="col-quantity">
                        <ng-container *ngIf="!editCache[data.id]?.edit; else editQuantity">
                            {{ data.quantity }}
                        </ng-container>
                        <ng-template #editQuantity>
                            <nz-input-number [(ngModel)]="editCache[data.id].data.quantity" nzMin="1" nzStep="0.1"
                                (ngModelChange)="updateItemTotal(data.id)">
                            </nz-input-number>
                        </ng-template>
                    </td>
                    <td class="col-value">
                        <ng-container *ngIf="!editCache[data.id]?.edit; else editValue">
                            {{ data.value | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                        </ng-container>
                        <ng-template #editValue>
                            <input type="number" step="0.01" nz-input [(ngModel)]="editCache[data.id].data.value"
                                (ngModelChange)="updateItemTotal(data.id)" />
                        </ng-template>
                    </td>
                    <td class="col-total">
                        {{ data.total | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                    </td>
                    <td class="col-cart">
                        <ng-container *ngIf="!editCache[data.id]?.edit; else editCart">
                            {{ data.cart }}
                        </ng-container>
                        <ng-template #editCart>
                            <nz-select [(ngModel)]="editCache[data.id].data.cart" class="w-100">
                                <nz-option *ngFor="let category of listCategory" [nzValue]="category.nome"
                                    [nzLabel]="category.nome">
                                </nz-option>
                            </nz-select>
                        </ng-template>
                    </td>
                    <td class="col-actions">
                        <ng-container *ngIf="!editCache[data.id]?.edit; else saveCancel">
                            <div class="btn-actions">
                                <button nz-button nzType="primary" nzSize="small" class="edit-button"
                                    (click)="startEdit(data.id)">
                                    <nz-icon nzType="edit" nzTheme="outline"></nz-icon>
                                    Editar
                                </button>
                                <button nz-button nzType="primary" nzDanger nzSize="small" nz-popconfirm
                                    nzPopconfirmTitle="Tem certeza que deseja remover este item?"
                                    (nzOnConfirm)="deleteItem(data.id)" class="edit-button">
                                    <nz-icon nzType="delete" nzTheme="outline"></nz-icon>
                                    Remover
                                </button>
                            </div>
                        </ng-container>

                        <ng-template #saveCancel>
                            <div class="btn-actions">
                                <button nz-button nzType="primary" nzSize="small" (click)="saveEdit(data.id)"
                                    class="edit-button">
                                    <nz-icon nzType="save" nzTheme="outline"></nz-icon>
                                    Salvar
                                </button>
                                <button nz-button nzSize="small" (click)="cancelEdit(data.id)" class="edit-button">
                                    <nz-icon nzType="close" nzTheme="outline"></nz-icon>
                                    Cancelar
                                </button>
                            </div>
                        </ng-template>
                    </td>

                </tr>
            </tbody>

            <ng-template #rangeTemplate let-range="range" let-total>
                Total de itens: {{ total }}
            </ng-template>
            <ng-template #titleTemplate>
                Total de itens: {{ mercado }}
            </ng-template>
        </nz-table>
    </div>
</div>

<!-- Modal Mercado -->
<nz-modal [(nzVisible)]="isVisibleMercado" [nzTitle]="modalTitleMercado" [nzContent]="modalContentMercado"
    [nzFooter]="modalFooterMercado" (nzOnCancel)="handleCancelMercado()">
    <ng-template #modalTitleMercado>Editar Local</ng-template>

    <ng-template #modalContentMercado>
        <nz-input-group nzAddOnBefore="Data" class="mb-4">
            <nz-date-picker [(ngModel)]="dataCompra" nzFormat="dd/MM/yyyy" class="w-100 "></nz-date-picker>
        </nz-input-group>
        <nz-input-group nzAddOnBefore="Local">
            <input type="text" nz-input [(ngModel)]="mercado" name="mercadoNome" class="w-100" />
        </nz-input-group>
    </ng-template>

    <ng-template #modalFooterMercado>
        <button nz-button nzType="default" (click)="handleCancelMercado()">Cancelar</button>
        <button nz-button nzType="primary" (click)="handleOkMercado()" [nzLoading]="LoadingService.loading()">Alterar
            Local</button>
    </ng-template>
</nz-modal>

<!-- Modal Carrinhos -->
<nz-modal [(nzVisible)]="isVisibleCarrinho" [nzTitle]="modalTitleCarrinhos" [nzContent]="modalContentCarrinhos"
    [nzFooter]="modalFooterCarrinhos" (nzOnCancel)="handleCancelCarrinhos()">
    <ng-template #modalTitleCarrinhos>Editar Categoria</ng-template>

    <ng-template #modalContentCarrinhos>
        <nz-input-group nzAddOnBefore="Quantidade de Categorias" class="mb-2">
            <nz-input-number [(ngModel)]="qtdCarrinhos" nzMin="1" class="w-100"
                (ngModelChange)="onQtdCarrinhosChange($event)" value=1 />
        </nz-input-group>

        <div *ngFor="let category of listCategory; let i = index" class="mb-2">
            <nz-input-group [nzAddOnBefore]="'Categoria ' + (i + 1)">
                <input type="text" nz-input [(ngModel)]="category.nome" />
            </nz-input-group>
        </div>
    </ng-template>

    <ng-template #modalFooterCarrinhos>
        <button nz-button nzType="default" (click)="handleCancelCarrinhos()">Cancelar</button>
        <button nz-button nzType="primary" (click)="handleOkCarrinhos()"
            [nzLoading]="LoadingService.loading()">Alterar</button>
    </ng-template>
</nz-modal>