.cards {
  display: flex;
  flex-wrap: wrap !important;
  justify-content: space-around;
  align-items: center;
}
.card-resumo-spin {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  min-width: 300px;
}
.card-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  flex-wrap: nowrap;
  min-height: 80px;
  min-width: 300px;
}

.card-resumo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.card-label {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.card-value {
  font-size: 1.1rem;
  font-weight: bold;
}

.card-icon {
  font-size: 1.5rem;
  color: #555;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* impede que o ícone encolha e perca alinhamento */
}

/* Media query para telas pequenas */
@media (max-width: 500px) {
  .card-group,
  .card-resumo-spin {
    margin-bottom: 30px;
  }
}

/* Media query para telas pequenas */
@media (max-width: 800px) {
  .card-group,
  .card-resumo-spin {
    margin-bottom: 30px;
  }
}
/* Media query para telas pequenas */
@media (max-width: 1000px) {
  .card-group,
  .card-resumo-spin {
    margin-bottom: 30px;
  }
}

.btn-default {
  border-color: #1890ff !important;
  color: #1890ff;
}
