<div class="container mt-4 p-3 shadow bg-white rounded">
  <h4 *ngIf="user(); else loading">Bem-vindo(a) {{user()?.full_name | firstName}}</h4>
  <ng-template #loading>
    <p>Carregando dados do usuário...</p>
  </ng-template>
  <div class="mt-3 ">

    <button nz-button nzType="primary" (click)="newPurchase()"> <nz-icon nzType="file-add" nzTheme="outline" />
      Novo Orçamento
    </button>

    <button nz-button nzType="default" class="ms-2 btn-default" (click)="openPurchases()" >
      <nz-icon nzType="folder-open" nzTheme="outline" />
      Orçamentos em Aberto
    </button>
    <button nz-button nzType="default" class="ms-2 btn-default">
      <nz-icon nzType="file-search" nzTheme="outline" />
      Histórico de Orçamentos
    </button>

  </div>
</div>
<div class="mt-4">
  <div class="container cards">
    <!-- Card 1: Total Gasto -->
    <ng-container *ngIf="!loadingCards; else loadingTemplate">
      <div class="p-3 card-group rounded bg-white shadow ">
        <div class="card-resumo">
          <span class="card-label">Total Gasto</span>
          <span class="card-value mt-2" *ngIf="totalGasto > 0; else templateSemCompra">
            {{ totalGasto | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
          </span>
        </div>

        <div class="card-icon">
          <nz-icon nzType="shopping" nzTheme="outline"></nz-icon>
        </div>
      </div>
    </ng-container>

    <!-- Card 2: Compras Realizadas -->
    <ng-container *ngIf="!loadingCards; else loadingTemplate">
      <div class="p-3 card-group rounded bg-white shadow ">
        <div class="card-resumo">
          <span class="card-label ">Orçamentos Realizados</span>
          <span class="card-value mt-2" *ngIf="comprasRealizadas > 0; else templateSemCompra">
            {{ comprasRealizadas }}
          </span>
        </div>
        <div class="card-icon">
          <nz-icon nzType="tags" nzTheme="outline" />
        </div>
      </div>
    </ng-container>

    <!-- Card 3: Compras em Aberto -->
    <ng-container *ngIf="!loadingCards; else loadingTemplate">
      <div class="p-3 card-group rounded bg-white shadow ">
        <div class="card-resumo">
          <span class=" card-label">Orçamentos em Aberto</span>
          <span class=" card-value mt-2 " *ngIf="comprasEmAberto > 0; else templateSemCompraEmAberto">
            {{ comprasEmAberto }}
          </span>
        </div>
        <div class="card-icon">
          <nz-icon nzType="tag" nzTheme="outline" />
        </div>
      </div>
    </ng-container>

    <!-- Templates Reutilizáveis -->
    <ng-template #loadingTemplate>
      <div class="shadow p-3 card-resumo-spin rounded bg-white">
        <nz-spin [nzSize]="'small'"></nz-spin>
      </div>
    </ng-template>

    <ng-template #templateSemCompra>
      <span class="text-start card-value mt-2">Nenhum Orçamento</span>
    </ng-template>

    <ng-template #templateSemCompraEmAberto>
      <span class="text-start card-value mt-2">0</span>
    </ng-template>
  </div>
</div>

<div class="container mt-4 bg-white p-3 shadow rounded">
  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" style="max-width: 300px;">
    <input type="text" nz-input placeholder="Informe algum item..." [(ngModel)]="termoPesquisa"
      (keyup.enter)="pesquisarItem()" />
  </nz-input-group>

  <ng-template #suffixIconButton>
    <button nz-button nzType="primary" nzSize="default" nzSearch (click)="pesquisarItem()"
      [nzLoading]="loadingSearchButton">
      Pesquisar
      <nz-icon nzType="search" nzTheme="outline" />
    </button>
  </ng-template>

  <div class="mt-4" *ngIf="searchItems.length != 0;">
    <nz-spin [nzSpinning]="loadingTable">
      <nz-table #borderedTable nzBordered [nzData]="searchItems" [nzShowPagination]="false" class="">
        <thead>
          <tr>
            <th class="text-center">Data</th>
            <th class="text-center">Nome</th>
            <th class="text-center">Preço</th>
            <th class="text-center">Orçamento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of searchItems" class="text-center">
            <td class="text-center">{{ item.date | date: 'dd/MM/yyyy' }}</td>
            <td class="text-center">{{ item.name }}</td>
            <td class="text-center">
              {{ item.price | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
            </td>
            <td class="text-center">{{ item.place }}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-spin>
  </div>
</div>

<!--Modal-->
<nz-modal [(nzVisible)]="isVisibleNewPurchase" [nzTitle]="modalTitle" [nzContent]="modalContent"
  [nzFooter]="modalFooter" (nzOnCancel)="handleCancelNewPurchase()">
  <ng-template #modalTitle>Novo Orçamento</ng-template>

  <ng-template #modalContent>

    <nz-input-group nzAddOnBefore="Data da Compra" class="w-100">
      <nz-date-picker [(ngModel)]="dataCompra" class="w-100" (ngModelChange)="onChange($event)"
        nzFormat="dd/MM/yyyy"></nz-date-picker>
    </nz-input-group>

    <nz-form-control [nzErrorTip]="'O nome do Orçamento é obrigatório'">
      <nz-input-group nzAddOnBefore="Local" class="mt-2 ">
        <input type="text" nz-input placeholder="Ex: Supermercado" [(ngModel)]="mercadoNome" name="mercadoNome" required
          #mercadoInput="ngModel" />
      </nz-input-group>
    </nz-form-control>

    <nz-input-group nzAddOnBefore="Quantidade de Categorias" class="mt-2">
      <nz-input-number [(ngModel)]="qtdCarrinhos" nzMin="1" class="w-100" (ngModelChange)="onQtdCarrinhosChange($event)"
        value=1 />
    </nz-input-group>

    <div *ngFor="let name of carrinhosNames; let i = index; trackBy: trackByFn">
      <nz-input-group [nzAddOnBefore]="'Categoria'" class="mt-2">
        <input #inputEl type="text" nz-input placeholder="Ex: Alimentação" [(ngModel)]="carrinhosNames[i]"
          (keydown)="onKeyDown($event, i)" />
      </nz-input-group>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancelNewPurchase()">Cancelar</button>
    <button nz-button nzType="primary" (click)="handleOkNewPurchase()" [nzLoading]="isConfirmLoading">Avançar</button>
  </ng-template>
</nz-modal>



